.footer {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: 5px solid green;

    &__logo {
        color: white;
        font-size: 30px;
        padding: 25px 60px;
    }

    &__conclusion {
        color: white;
        padding: 0px 60px;
    }

    &__pages {
        display: flex;
        gap: 30px;
        color: white;
    }

    &__icons {
        display: flex;
        gap: 25px;
        font-size: 25px;
    }
}


@media (max-width: 500px) {
  .footer {
    flex-direction: column;
    height: auto;
    padding: 20px 0;
    text-align: center;
    gap: 10px;

    &__logo {
      padding: 0;
      font-size: 24px;
    }

    &__conclusion {
      padding: 0;
      font-size: 14px;
    }

    &__pages {
      flex-direction: column;
      gap: 10px;
      font-size: 16px;
    }

    &__icons {
      gap: 15px;
      font-size: 22px;
      padding-top: 10px;
    }
  }
}